{% extends 'layout/base.html'%}

{% block content %}

{% if request.user.is_superuser %}
<a class="button is-success" style="margin:20px;" href="/problem/post">新增題目</a>
{% endif %}

<table class="table is-fullwidth">
  <thead>
    <th>標題</th>
    <th>描述</th>
    <th>出題者</th>
    <th>最後修改</th>
  </thead>
  <tbody>
    {% for problem in problems %}
    <tr>
      <td><a href="/problem/{{problem.id}}">{{problem.title}}</a></td>
      <td>{{problem.short_description}}</td>
      <td>{{problem.user.profile.nickname}}</td>
      <td>{{problem.last_modified}}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}